<!DOCTYPE html>
<html ng-app="app">
<head>
	<% if current_user.present? %>
	<script type="text/javascript">
	window.signedIn = true;
	window.isiPad = navigator.userAgent.match(/iPad/i) != null;
	</script>
	<% end %>
  <%= display_meta_tags :site => 'DivList' %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=eEEqkkPKX5">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=eEEqkkPKX5">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=eEEqkkPKX5" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=eEEqkkPKX5" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=eEEqkkPKX5" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=eEEqkkPKX5" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=eEEqkkPKX5">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=eEEqkkPKX5" color="#de0456">
  <link rel="shortcut icon" href="/favicon.ico?v=eEEqkkPKX5">
  <meta name="apple-mobile-web-app-title" content="DivList">
  <meta name="application-name" content="DivList">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=eEEqkkPKX5">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600italic,400,400italic,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <%= render "layouts/segment" %>
</head>
<body class="<%= body_class %>">
<%= render "layouts/header_main" %>
<% if notice %>
<p class="notification notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="notification alert"><%= alert %></p>
<% end %>
<div class="container" id="main-content">
	<%= yield %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		if (window.isiPad){
			$("navbar-right hidden-xs").css("margin-right", "0px");
		}
	});
</script>
</body>
</html>

