<!DOCTYPE html>
<html ng-app="app">
<head>
	<% if current_user.present? %>
	<script type="text/javascript">
	window.signedIn = true;
	</script>
	<% end %>
  <%= display_meta_tags :site => 'DivList' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600italic,400,400italic,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <%= render "layouts/segment" %>
</head>
<body class="<%= body_class %>">
<%= render "layouts/header_main" %>
<% if notice %>
<p class="notification notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="notification alert"><%= alert %></p>
<% end %>
<div class="container" id="main-content">
	<%= yield %>
</div>

</body>
</html>

